#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#calculator-container {
    background-color: var(--primary-color);
    border: 1px solid white;
    box-shadow: 0 0 4px 1px white;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

#expression, #display {
    font-size: 0.8rem;
    height: 28px;
    margin: 0 8px;
    padding: 8px;
    color: var(--accent-character-color);
    text-align: end;  
}

#display {
    font-size: 1.2rem;
}

#buttons-container {
    background-color: var(--primary-color);
    padding: 0;
    display: flex;
    flex-direction: column;
}

#buttons-container .button-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 8px;
}
#buttons-container .button-wrapper #zero {
    width: 160px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 28px;
}
#buttons-container .button-wrapper:first-child {
    margin-top: 20px;
}
#buttons-container .button-wrapper:last-child {
    margin-bottom: 20px;
}

/* operators */
.operator {
    background-color: var(--accent-operator-color) !important;
}

/* function */
.function {
    background-color: var(--accent-function-color) !important;
    color: var(--primary-color);
}

/* footer */
footer p {
    color: var(--accent-character-color);
}
#author {
    font-family: Silkscreen;
    color: red;
}