:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(60, 60, 60);
    --accent-operator-color: rgb(255, 178, 34);
    --accent-character-color: rgb(255, 255, 255);
    --accent-function-color: rgb(170, 170, 170);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.5em;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For Internet Explorer/Edge */
}

h1 {
    color: var(--accent-character-color);
}

button {
    border-radius: 50%;
    border: 1px none black;
    width: 72px;
    height: 72px;
    margin: 4px 8px;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    background-color: var(--secondary-color) !important;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    transition: ease-in-out 0.35s;
}
button:hover {
    background-color: rgb(146, 146, 146) !important;

}
    button:focus,
    button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    button {
        background-color: #f9f9f9;
    }
}
